%head
  %title Minecraft Server Manager
  = stylesheet 'css/bootstrap.css', 'css/bootstrap-responsive.css'
  = stylesheet 'css/template.css'
  = yield_content :head
%body
  .container
    .header.row
      .logo.span3
        %img{:src=>'img/minecraft.png'}
      .title.span6
        %h1 Minecraft Server Manager
      - if session[:user]
        .user.span3
          = session[:user]
          &nbsp;|&nbsp;
          %a{:href => '/logout'} Logout
    .body
      = yield
    .footer.row
      .copyright.span4.offset4
        Brian Levinstein &copy; #{Time.now.strftime('%Y')}
      .disclaimer.span4.offset4
        (Minecraft&trade; is property of Mojang, Inc.)
